{
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "prettier"],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "overrides": [
    {
      "files": ["/src/__tests__/**/*"],
      "env": {
        "jest": true,
      },
    },
  ],
  "root": true,
}
