{
  "trailingComma": "es5",
  "tabWidth": 2,
  "semi": false,
  "singleQuote": true,
  "printWidth": 120,
  "overrides": [
    {
      "files": ["tsconfig.json", ".eslintrc"],
      "options": {
        "trailingComma": "none"
      }
    }
  ]
}
